*.dart linguist-language=Dart
*.gradle linguist-language=Gradle
*.kt linguist-language=Kotlin
*.java linguist-language=Java

# Ignore native code from language stats
android/** linguist-vendored
ios/** linguist-vendored
